* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main: rgb(35, 4, 35);
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: var(--main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: auto; */
    color: white;
    border-radius: 10px;
    font-size: 1.7rem;
    padding: 1em;
    user-select: none;
    -webkit-user-select: none;
}



.buttons {
    /* border: 2px solid red; */
    margin-top: 1em;
    margin-bottom: .5em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    flex-grow: 1;
}

.bt {
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    background-color: white;
    grid-column: span 3;
    color: var(--main);
    justify-content: end;
    padding-right: 1em;
}

.clear {
    background-color: green;
}

.sym,
.equal {
    background-color: rgb(77, 7, 60);
}